body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-size: 16pt;
}

header, footer {
  min-height: 10vh;
  background-color: #23374d;
  margin: 10px 0 10px 0;
}

header {
  text-align: center;
  font-family: montserrat;
}

header h1 {
  color: white;
}

main {
  column-count: 2;
}