body {
  display: flex;
  flex-direction: column;
  min-height: 80vh;
  font-size: 14pt;
}

header, footer {
  min-height: 10vh;
  background-color: #23374d;
  margin: 10px 0 10px 0;
}

header {
  text-align: center;
  font-family: montserrat;
}

header h1 {
  color: white;
}

section h1 {
  justify-content: center;
  font-family: arial;
  flex-grow: 1;
}

section div {
  margin: 0 75px 0 75px;
  align-items: center;

}

.left {
  width: 75%;
  float: left;
}
section.right {
  width: 25%;
  float: right;
  
  margin: 0;

}

.left h1 {
  text-align: center;
  justify-content: center;
  margin: 0 0 1em 0;
  border-top-style: solid;
  border-top-color: blue;
  border-top-width: 10px;
  width: 80%;
}

.right h1 {
  font-size: 14pt;
  margin: 0;
  text-justify: left;
 
}

.right p {
  margin: 0 20px 0 10px;
  text-justify: left;
}