body {
  display: flex;
  flex-direction: column;
  min-height: 80vh;
  font-size: 14pt;
}

header, footer {
  min-height: 10vh;
  background-color: #23374d;
  margin: 10px 0 10px 0;
}

header {
  text-align: center;
  font-family: montserrat;
}

header h1 {
  color: white;
}

section div {
  margin: 0 75px 0 75px;
  align-items: center;
}

/* section h1 {
  justify-content: center;
  font-family: arial;
  flex-grow: 1;
} */

.left {
  width: 75%;
  float: left;
}
section.right {
  width: 25%;
  float: right;
  margin: 0;
}

.left h1 {
  text-align: center;
  justify-content: center;
  margin: 0 75px 1em 75px;
  border-top-style: solid;
  border-top-color: #23374d;
  border-top-width: 10px;
  font-family: sans, serif;
  font-size: 18pt;
}

.right h1 {
  font-size: 14pt;
  margin: 0;
  text-justify: left;
 
}

.right p {
  margin: 0 20px 0 10px;
  text-justify: left;
}


@media and screen (max-width: 700px) {
  .left h1 {
    font-size: 14px;
  }
}